*{
    margin: 0;
    padding: 0;
}
.sec-1{
    width: 100%;
    float: left;
}
.navbar-brand.logo a.img {
    width: 70%;
}
.sec-1 .navbar-default .navbar-nav>li>a{
    color: black;
    font-size: 17px;
}
section.sec-1 .navbar-header img {
    width: auto;
    height: 28px;
}
.sec-1 li.button-sec {
    background: linear-gradient(90deg, rgb(255, 0, 55), rgb(42, 23, 214));
    border-radius: 30px;
}
li.button-sec ul a{
    color: white;
}
/* navbar ended here */

.left-side {
    margin-top: 16%;
}
.left-side{
    animation: leftse 2s ease-in-out 0.25s normal forwards;
}
.left-side p {
    color: grey;
    font-size: 20px;
    font-weight: 600;
    margin-left: 50px;

}
.left-side h1{
    font-size: 51px;
    font-weight: 700;
        margin-bottom: 40px;
         margin-left: 50px;
}
.left-side span {
    background-color: blue;
    color: white;
    padding: 13px 49px;
    border-radius: 29px;
    font-size: 18px;
    font-weight: bold;
     margin-left: 50px;
}
.left-side h6{
    margin-left: 50px;
    margin-top: 31px;
    font-size: 16px;
    font-weight: 600;
     color: grey;
}

.right-info img {
    width: 100%;
}
.right-info{
    animation: rightse 2s ease-in-out 0.25s normal forwards;
}
/* sec-2 ended here */

.sec-3{
    width: 100%;
    float: left;
 
   background-color: rgb(236, 232, 232);
   
}
.content-sec{
    text-align: center;
    margin-top: 35px;
    
}
.content-sec{
    animation: leftse 2s ease-in-out 0.25s normal forwards;
}
.content-sec h2{
 color: black;
}
.content-sec span{
    color: rgb(3, 3, 75);
    font-size: 40px;
    font-weight: 700;
}
.card-sec img{
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
}
.card-sec{
    animation: rightse 2s ease-in-out 0.25s normal forwards;
}
.card-sec{
    transition: 0.5s ease;
padding: 10px;
}

.card-sec:hover{
    background-color: white;
    transform: scale(0.9);
    border-radius: 20px;
}
.content-part h2{
    font-size: 20px;
}
.clear{
    clear: both;
}
/* sec-3 ended here */

.sec-4{
    background-color: rgba(1, 1, 80, 0.89);
  width: 100%;
   
}
.section-4-part h2{
    text-align: center;
    color: white;
    font-size: 40px;
        margin-top: 40px;
}
.section-4-part{
    animation: leftse 2s ease-in-out 0.25s normal forwards;
}
.section-4-part h2 span{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.card-part{
    animation: rightse 2s ease-in-out 0.25s normal forwards;
}
.card-part {
    color: white;
}
.card-part  img{
    color: white;
     padding: 20px;
    border-radius: 20px;
}
.card-part{
      background-color: rgb(255, 243, 243);
    /* transform: scale(0.9); */
    border-radius: 20px;
    padding: 10px;
    transition: all ease-out 0.5s;
    margin-top: 20px;
}
.card-part:hover{
    transform: translateY(-10px);
    color: white;
}
/* .card-part{
     transition: 0.5s ease;
padding: 10px;
} */
 .writing-part h2{
color: rgb(0, 0, 85);
font-size: 20px;
 }
 /* .gori-sec{
width: 20%;
text-align: center;
 }
 .gori-sec h2{
    text-align: center;
    color: white;
    border-radius: 30px;
    background-color: black;
    padding: 20px 20px 20px;
    font-size: 20px;
    
   
 } */
  .down-centre{
    color: white;
    border-radius: 30px;
    background-color: black;
    padding: 8px 23px 9px;
    font-size: 20px;
    margin-top: 20px;
    
  }
  .btn-info-sec a {
    font-size: 20px;
    margin-top: 40px;
    display: inline-block;
    background: black;
    padding: 10px 20px;
        margin-bottom: 26px;
  }
   .btn-info-sec a:hover{
    color: white;
   }
   /* sec-4 ended here */

   .sec-5{
    background-color:white;
    color: rgb(2, 2, 63);
    width: 100%;
    padding: 65px;
   }
   .part-1 h2{
    font-size: 50px;
    font-weight: 700;
   }
   .part-2 p{
    font-size: 15px;
   }
   .part-2 h2 span{
    font-size: 50px;
    font-weight: 700;
     line-height: 96px;
   }
 
   .part-1{
    margin-top: 20px;
   }
   .part-1{
    animation: leftse 2s ease-in-out 0.25s normal forwards;
   }
   .part-2{
    animation: rightse 2s ease-in-out 0.25s normal forwards;
   }
   .down-centre-sec{
      color: white;
    border-radius: 30px;
    background-color: black;
    padding: 8px 23px 9px;
    font-size: 20px;
    margin-top: 20px;
   }
   .sec-5-button a{
     font-size: 20px; 
    margin-top: 40px;
    background: blue;
    padding: 10px 20px;
    
   }
   .sec-5-button a:hover{
    background-color: white;
    color: rgb(0, 0, 65);
   }
   /* sec-5 ended here */

   /* sec-6 started here */
   .sec-6{
    width: 100%;
    
    padding: 40px;
    background-color: rgba(223, 223, 223, 0.363);

   }
   .write-sec{
text-align: center;
    margin-bottom: 30px;
   }
   .write-sec{
    animation: leftse 2s ease-in-out 0.25s normal forwards;
   }
   .write-sec h2{
   font-size: 40px;
color: rgb(0, 0, 71);
   }
   .write-sec span{
font-size: 50px;
color: rgb(0, 0, 71);
font-weight: 700;


   }
   .content-right{
    animation: rightse 2s ease-in-out 0.25s normal forwards;
   }
   .content-right h2{
    font-size: 35px;
color: rgb(0, 0, 71);
font-weight: 700;
   }
   .content-right h4{
    color: rgb(151, 149, 149);
    font-weight: 700;
    font-size: 23px;
    margin-top: 20px;
   }
   .content-right p{
     color: rgb(117, 117, 117);
    font-size: 18px;
    margin-top: 20px;
   }
   .image-sec {
    margin-top: 45px;
}
.image-sec{
    animation: rightse 2s ease-in-out 0.25s normal forwards;
}
.content-right{
      margin-top: 100px;
}
/* sec-6 ended here */
.sec-7{
width: 100%;
}
.sec-7-content{
    margin-top: 60px;
}
.sec-7-content{
    animation: leftse 2s ease-in-out 0.25s normal forwards;
}
.sec-7-content h2{
text-align: center;
font-size: 50px;
color: rgb(0, 0, 71);
font-weight: 700;
}
.icon-part{
    background-color: rgba(207, 207, 207, 0.315);
    padding: 30px;
    margin-top: 50px;
}
.icon-part{
    animation: rightse 2s ease-in-out 0.25s normal forwards;
}
.image-1 img{
   width: 57%;
    border-radius: 50%;
    text-align: center;
    margin-top: 16px;
}
.icon-part p {
    margin-top: 23px;
    color: rgb(134, 134, 134);
}
.content-displey h2{
 font-size: 20px;
 color: black;
 font-weight: 500;
}
.content-displey span {
    color: grey;
    font-size: 16px;
}
.content-displey p{
    font-size: 17px;
}


@media (max-width:992px){

.left-side h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-left: 50px;
}
.left-side p {
    font-size: 15px;
}
.part-2 h2 span {
    font-size: 42px;
}
.image-sec img {
    width: 100%;
}
.content-right h2 {
    font-size: 23px;
    
}
.sec-5-button {
    width: 36%;
}
}
@media (max-width:768px){
    .left-side h1 {
        font-size: 34px;
    
    }
    .left-side span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
}
.left-side h6 {
  
    font-size: 13px;
   
}
.content-part h2 {
    font-size: 16px;
}
    .col-sm-3 {
        width: 50%;
    }
    .part-2 h2 span {
        font-size: 31px;
    }
    .part-2 h2{
    font-size: 21px;
}
.part-1 h2 {
    font-size: 40px;
    font-weight: 700;
}
    .sec-5-button {
        width: 50%;
    }
    .write-sec h2 {
    font-size: 33px;
    color: rgb(0, 0, 71);
}
.write-sec span {
    font-size: 34px;
  
}
.sec-7-content h2 {
   
    font-size: 43px;
  
}
    .left-side h1 {
        font-size: 30px;
    }
     .navbar-right {
        display: none;
    }
    }
    @media(max-width:568px){
.left-side {
    margin-top: 16%;
    text-align: center;
}

.right-info img{
    width: 100%;
}
.part-2 {
    text-align: center;
}
    .sec-5-button {
        width: 100%;
        text-align: center;
    }
    .content-sec span {
    font-size: 30px;
    font-weight: 700;
}
    .content-part h2 {
        font-size: 16px;
        color: black;
        font-weight: 700;
    }
    .section-4-part h2 span {
   
    font-size: 26px;
    font-weight: 700;
}
.section-4-part h2 {
   
    font-size: 32px;
}
.part-1 {
    margin-top: 20px;
    text-align: center;
}
    .write-sec span {
        font-size: 28px;
    }
        .write-sec h2 {
        font-size: 25px;
        color: rgb(0, 0, 71);
    }
    .content-right {
    margin-top: 100px;
    text-align: center;
}
.content-right p {
    font-size: 16px;
}
    .sec-7-content h2 {
        font-size: 33px;
    }
    }
    @media(max-width:360px){
          .left-side p {
        font-size: 12px;
    }
        .left-side h1 {
        font-size: 33px;
    }
    .content-sec h2 {
    color: black;
    font-size: 21px;
}
    .content-sec span {
        font-size: 27px;
        font-weight: 700;
    }
        .section-4-part h2 span {
        font-size: 22px;
        font-weight: 700;
    }
        .section-4-part h2 {
        font-size: 24px;
    }
    .writing-part h2 {
    font-size: 17px;
}
.part-2 p {
    font-size: 12px;
}
    .part-1 h2 {
        font-size: 34px;
        font-weight: 700;
    }
        .part-2 h2 span {
        font-size: 22px;
    }
        .write-sec h2 {
        font-size: 22px;
        color: rgb(0, 0, 71);
    }
        .write-sec span {
        font-size: 24px;
    }
        .content-right h2 {
        font-size: 21px;
    }
    .content-right h4 {
    font-size: 20px;
    margin-top: 20px;
}
    .content-right p {
        font-size: 13px;
    }
        .sec-7-content h2 {
        font-size: 24px;
    }
    .icon-part p {
    font-size: 13px;
}
.content-displey h2 {
    font-size: 14px;
}
 .icon-part img {
    width: 12%;
}
.image-1 img {
    width: 100%;
}

.card-part img {
  
    height: 70px;
}
.sec-5 {
    background-color: white;
    color: rgb(2, 2, 63);
    width: 100%;
    padding: 20px;
}
.write-sec {
    text-align: center;
    margin-bottom: 0px;
}
.content-right {
        margin-top: 35px;
        text-align: center;
    }
    .sec-7-content {
    margin-top: 32px;
}
.icon-part {
    padding: 30px;
    margin-top: 21px;
}
    }
    @media (max-width:320px){
            .left-side h1 {
        font-size: 29px;
    }
        .left-side p {
        font-size: 13px;
    }
        .left-side {
        margin-top: 16%;
        text-align: left;
    }
        .section-4-part h2 span {
        font-size: 18px;
        font-weight: 700;
    }
        .section-4-part h2 {
        font-size: 19px;
    }
        .writing-part h2 {
        font-size: 14px;
    }
        .part-2 h2 span {
        font-size: 17px;
    }
    .write-sec h2 {
        font-size: 18px;
        color: rgb(0, 0, 71);
    }
        .write-sec span {
        font-size: 21px;
    }
        .content-right h4 {
        font-size: 18px;
        margin-top: 20px;
    }
        .sec-7-content h2 {
        font-size: 21px;
    }
    }
@keyframes leftse{
    from{
        transform: translateX(-700px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes rightse{
    from{
        transform: translateX(900px);
    }
    to{
        transform: translateX(0);
       
    }
}